body, html {
    min-height: 100%;
    margin: 0;
}
#content {
    min-height: 100%
}
#root {
    min-height: inherit
}
.app {
    min-height: 100%
}
.ui.container {
    width: 98%;
    margin-top: 2em;
    padding-left: 16em;
}

#content-column {
    min-width: 220px;
}

#toggle-h3 {
    position: absolute;
    right: 10px;
    top: 15px;
}